html {
	height: 100%;
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	background-color: var(--color-background);
	color: var(--color-foreground);
	font-family: var(--font-family);
	height: 100%;
	line-height: 1.4;
	font-size: 100% !important;

	&.vscode-light {
		background-color: var(--color-background--darken-075);
	}
}